<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->

    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>iTech
            </h6>
            <p>
             At ITech, we redefine the computing experience. Explore our cutting-edge selection of computers, laptops, and tech accessories. Merging quality, performance, and style, we're your go-to destination to stay connected to innovation. Explore now and embark on a journey to tomorrow's technology.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Laptops</a>
            </p>
            <p>
              <a href="#!" class="text-reset"> Tablets</a>
            </p>
            <p>
              <a href="#!" class="text-reset"> Accessories</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Printers and Scanners</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Ulegal information
            </h6>
            <p>
              <a href="#!" class="text-reset">Delivery </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terms of use Secure</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Payment</a>
            </p>
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>  10 rue tunis, 3021 sfax, Tunisia </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@itech.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +216 25 670 433</p>
            <p><i class="fas fa-print me-3"></i> +216 21 000 000</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->