<!-- buy.component.html -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="Product Image" [style.maxHeight.px]="190" [style.width.px]="354">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: {{ product.price }} $</p>
          <p class="card-text">Quantity: {{ product.quantity }}</p>
          <p class="card-text">
            Availability: <span [ngClass]="{'text-success': product.available, 'text-danger': !product.available}">
              {{ product.available ? 'Available' : 'Not Available' }}
            </span>
          </p>
          <button class="btn btn-sm" (click)="onSelect(product)" [ngClass]="product.selected ? 'btn-success' : 'btn-danger'" [disabled]="!product.available">
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
