<!-- home.component.html -->
<div id="img">
 
</div>
<div class="container mt-5 fade-in">
    <h1>Welcome to iTech</h1>
    <p>
        At ITech, we redefine the computing experience. Explore our cutting-edge selection of computers, laptops, and tech accessories. Merging quality, performance, and style, we're your go-to destination to stay connected to innovation. Explore now and embark on a journey to tomorrow's technology.

    </p>
  
    <h2>Our Services</h2>
    <ul>
      <li>Cutting-Edge Technology</li>
      <li> Quality Assurance</li>
      <li>Customized Solutions</li>
      <!-- Add more services as needed -->
    </ul>
  
    <h2>Contact Us</h2>
    <p>
      For inquiries and collaboration opportunities, please contact us at <a href="mailto:info@itech.com">info@itech.com</a>.
    </p>
  </div>
  